# Customer Analysis Round 2

In [1]:
import pandas as pd
import numpy as np
import math
import datetime as dt
import calendar

In [2]:
df = pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')

In [3]:
df.head(2)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN

1. Show the dataframe shape.

In [4]:
df.shape

(10910, 26)

2. Standardize header names.

In [5]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [6]:
df.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size', 'Vehicle Type'],
      dtype='object')

In [7]:
df.columns = df.columns.str.replace(' ', '_')

In [8]:
df.columns

Index(['Customer', 'State', 'Customer_Lifetime_Value', 'Response', 'Coverage',
       'Education', 'Effective_To_Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location_Code', 'Marital_Status', 'Monthly_Premium_Auto',
       'Months_Since_Last_Claim', 'Months_Since_Policy_Inception',
       'Number_of_Open_Complaints', 'Number_of_Policies', 'Policy_Type',
       'Policy', 'Renew_Offer_Type', 'Sales_Channel', 'Total_Claim_Amount',
       'Vehicle_Class', 'Vehicle_Size', 'Vehicle_Type'],
      dtype='object')

3. Which columns are numerical?

In [9]:
df.select_dtypes(include= np.number).head(1)

,Customer_Lifetime_Value,Income,Monthly_Premium_Auto,Months_Since_Last_Claim,Months_Since_Policy_Inception,Number_of_Open_Complaints,Number_of_Policies,Total_Claim_Amount
0,4809.21696,48029,61,7.0,52,0.0,9,292.8

* Customer_Lifetime_Value
* Income
* Monthly_Premium_Auto
* Months_Since_Last_Claim
* Months_Since_Policy_Inception
* Number_of_Open_Complaints
* Number_of_Policies
* Total_Claim_Amount

4. Which columns are categorical?

In [10]:
df.select_dtypes(include= np.object).head(1)

,Customer,State,Response,Coverage,Education,Effective_To_Date,EmploymentStatus,Gender,Location_Code,Marital_Status,Policy_Type,Policy,Renew_Offer_Type,Sales_Channel,Vehicle_Class,Vehicle_Size,Vehicle_Type
0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize,NaN

* Customer
* State
* Response
* Coverage
* Education
* Effective_To_Date
* EmploymentStatus
* Gender
* Location_Code
* Marital_Status
* Policy_Type
* Policy
* Renew_Offer_Type
* Sales_Channel
* Vehicle_Class
* Vehicle_Size
* Vehicle_Type

5. Check and deal with NaN values.

In [11]:
df.isnull().sum()

Customer                            0
State                             631
Customer_Lifetime_Value             0
Response                          631
Coverage                            0
Education                           0
Effective_To_Date                   0
EmploymentStatus                    0
Gender                              0
Income                              0
Location_Code                       0
Marital_Status                      0
Monthly_Premium_Auto                0
Months_Since_Last_Claim           633
Months_Since_Policy_Inception       0
Number_of_Open_Complaints         633
Number_of_Policies                  0
Policy_Type                         0
Policy                              0
Renew_Offer_Type                    0
Sales_Channel                       0
Total_Claim_Amount                  0
Vehicle_Class                     622
Vehicle_Size                      622
Vehicle_Type                     5482
dtype: int64

In [12]:
pd.unique(df['State'])

array(['Arizona', 'California', 'Washington', 'Oregon', nan, 'Nevada'],
      dtype=object)

In [13]:
df['State'].fillna('Other', inplace=True)

In [14]:
pd.unique(df['Response'])

array(['No', 'Yes', nan], dtype=object)

In [15]:
df['Response'].fillna('Other', inplace=True)

In [16]:
df['Months_Since_Last_Claim'].fillna(math.ceil(df['Months_Since_Last_Claim'].mean()), inplace=True)

In [17]:
df['Number_of_Open_Complaints'].fillna(0., inplace=True)

In [18]:
pd.unique(df['Vehicle_Class'])

array(['Four-Door Car', 'SUV', 'Two-Door Car', 'Sports Car', 'Luxury Car',
       'Luxury SUV', nan], dtype=object)

In [19]:
df['Vehicle_Class'].fillna('Other', inplace=True)

In [20]:
pd.unique(df['Vehicle_Size'])

array(['Medsize', 'Small', 'Large', nan], dtype=object)

In [21]:
df['Vehicle_Size'].fillna('Other', inplace=True)

In [22]:
pd.unique(df['Vehicle_Type'])

array([nan, 'A'], dtype=object)

In [23]:
df['Vehicle_Type'].fillna('Other', inplace=True)

In [24]:
df.isnull().sum()

Customer                         0
State                            0
Customer_Lifetime_Value          0
Response                         0
Coverage                         0
Education                        0
Effective_To_Date                0
EmploymentStatus                 0
Gender                           0
Income                           0
Location_Code                    0
Marital_Status                   0
Monthly_Premium_Auto             0
Months_Since_Last_Claim          0
Months_Since_Policy_Inception    0
Number_of_Open_Complaints        0
Number_of_Policies               0
Policy_Type                      0
Policy                           0
Renew_Offer_Type                 0
Sales_Channel                    0
Total_Claim_Amount               0
Vehicle_Class                    0
Vehicle_Size                     0
Vehicle_Type                     0
dtype: int64

In [26]:
df.head(2)

,Customer,State,Customer_Lifetime_Value,Response,Coverage,Education,Effective_To_Date,EmploymentStatus,Gender,Income,...,Number_of_Open_Complaints,Number_of_Policies,Policy_Type,Policy,Renew_Offer_Type,Sales_Channel,Total_Claim_Amount,Vehicle_Class,Vehicle_Size,Vehicle_Type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,Other
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Other

In [27]:
df.dtypes

Customer                          object
State                             object
Customer_Lifetime_Value          float64
Response                          object
Coverage                          object
Education                         object
Effective_To_Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location_Code                     object
Marital_Status                    object
Monthly_Premium_Auto               int64
Months_Since_Last_Claim          float64
Months_Since_Policy_Inception      int64
Number_of_Open_Complaints        float64
Number_of_Policies                 int64
Policy_Type                       object
Policy                            object
Renew_Offer_Type                  object
Sales_Channel                     object
Total_Claim_Amount               float64
Vehicle_Class                     object
Vehicle_Size                      object
Vehicle_Type                      object
dtype: object

6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter.

In [28]:
df['Effective_To_Date'] = pd.to_datetime(df['Effective_To_Date'])

In [29]:
df.dtypes

Customer                                 object
State                                    object
Customer_Lifetime_Value                 float64
Response                                 object
Coverage                                 object
Education                                object
Effective_To_Date                datetime64[ns]
EmploymentStatus                         object
Gender                                   object
Income                                    int64
Location_Code                            object
Marital_Status                           object
Monthly_Premium_Auto                      int64
Months_Since_Last_Claim                 float64
Months_Since_Policy_Inception             int64
Number_of_Open_Complaints               float64
Number_of_Policies                        int64
Policy_Type                              object
Policy                                   object
Renew_Offer_Type                         object
Sales_Channel                            object
Total_Claim_Amount                      float64
Vehicle_Class                            object
Vehicle_Size                             object
Vehicle_Type                             object
dtype: object

In [30]:
df.head(2)

,Customer,State,Customer_Lifetime_Value,Response,Coverage,Education,Effective_To_Date,EmploymentStatus,Gender,Income,...,Number_of_Open_Complaints,Number_of_Policies,Policy_Type,Policy,Renew_Offer_Type,Sales_Channel,Total_Claim_Amount,Vehicle_Class,Vehicle_Size,Vehicle_Type
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,Other
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Other

In [31]:
df['Month'] = df['Effective_To_Date'].dt.month

In [32]:
df.head(2)

,Customer,State,Customer_Lifetime_Value,Response,Coverage,Education,Effective_To_Date,EmploymentStatus,Gender,Income,...,Number_of_Policies,Policy_Type,Policy,Renew_Offer_Type,Sales_Channel,Total_Claim_Amount,Vehicle_Class,Vehicle_Size,Vehicle_Type,Month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,Other,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Other,1

In [33]:
df.dtypes

Customer                                 object
State                                    object
Customer_Lifetime_Value                 float64
Response                                 object
Coverage                                 object
Education                                object
Effective_To_Date                datetime64[ns]
EmploymentStatus                         object
Gender                                   object
Income                                    int64
Location_Code                            object
Marital_Status                           object
Monthly_Premium_Auto                      int64
Months_Since_Last_Claim                 float64
Months_Since_Policy_Inception             int64
Number_of_Open_Complaints               float64
Number_of_Policies                        int64
Policy_Type                              object
Policy                                   object
Renew_Offer_Type                         object
Sales_Channel                            object
Total_Claim_Amount                      float64
Vehicle_Class                            object
Vehicle_Size                             object
Vehicle_Type                             object
Month                                     int64
dtype: object

In [35]:
df['Month'] = df['Effective_To_Date'].dt.month_name()

In [36]:
df.head(2)

,Customer,State,Customer_Lifetime_Value,Response,Coverage,Education,Effective_To_Date,EmploymentStatus,Gender,Income,...,Number_of_Policies,Policy_Type,Policy,Renew_Offer_Type,Sales_Channel,Total_Claim_Amount,Vehicle_Class,Vehicle_Size,Vehicle_Type,Month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,Other,February
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Other,January

In [37]:
df[(df['Month'] == 'January') | (df['Month'] == 'February') | (df['Month'] == 'March')]

In [38]:
sample_df.head(10)

,Customer,State,Customer_Lifetime_Value,Response,Coverage,Education,Effective_To_Date,EmploymentStatus,Gender,Income,...,Number_of_Policies,Policy_Type,Policy,Renew_Offer_Type,Sales_Channel,Total_Claim_Amount,Vehicle_Class,Vehicle_Size,Vehicle_Type,Month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,Other,February
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Other,January
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,February
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,January
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,Other,January
5,HO81102,Other,4745.181764,Other,Basic,High School or Below,2011-02-14,Employed,M,50549,...,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A,February
6,IW72280,California,5035.035257,No,Basic,Doctor,2011-02-14,Employed,F,37405,...,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,Other,February
7,IH64929,California,4956.247235,No,Basic,High School or Below,2011-02-24,Employed,M,87197,...,3,Personal Auto,Personal L2,Offer2,Branch,247.402353,Two-Door Car,Medsize,Other,February
8,FM55990,California,5989.773931,Yes,Premium,College,2011-01-19,Employed,M,66839,...,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,Other,January
9,QX31376,Oregon,17114.328150,No,Extended,Master,2011-01-04,Employed,F,70961,...,2,Corporate Auto,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small,Other,January

In [40]:
df['Month'].unique()

array(['February', 'January'], dtype=object)

BONUS: Put all the previously mentioned data transformations into a function.

In [1]:
def df_cleaner(df):
    print(df.shape)
    df.drop(columns=['Unnamed: 0'], inplace=True)
    df.columns = df.columns.str.replace(' ', '_')
    print(df.columns)
    print(df.select_dtypes(include= np.number).head(1))
    print(df.select_dtypes(include= np.object).head(1))
    print(df.isnull().sum())
    df['State'].fillna('Other', inplace=True)
    df['Response'].fillna('Other', inplace=True)
    df['Months_Since_Last_Claim'].fillna(math.ceil(df['Months_Since_Last_Claim'].mean()), inplace=True)
    df['Number_of_Open_Complaints'].fillna(0., inplace=True)
    df['Vehicle_Class'].fillna('Other', inplace=True)
    df['Vehicle_Size'].fillna('Other', inplace=True)
    df['Vehicle_Type'].fillna('Other', inplace=True)
    print(df.isnull().sum())
    df['Effective_To_Date'] = pd.to_datetime(df['Effective_To_Date'])
    df['Month'] = df['Effective_To_Date'].dt.month
    df['Month'] = df['Effective_To_Date'].dt.month_name()
    print(df[(df['Month'] == 'January') | (df['Month'] == 'February') | (df['Month'] == 'March')])
    
    return df

In [47]:
sample_df = pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')

In [48]:
df_cleaner(sample_df)

(10910, 26)
Index(['Customer', 'State', 'Customer_Lifetime_Value', 'Response', 'Coverage',
       'Education', 'Effective_To_Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location_Code', 'Marital_Status', 'Monthly_Premium_Auto',
       'Months_Since_Last_Claim', 'Months_Since_Policy_Inception',
       'Number_of_Open_Complaints', 'Number_of_Policies', 'Policy_Type',
       'Policy', 'Renew_Offer_Type', 'Sales_Channel', 'Total_Claim_Amount',
       'Vehicle_Class', 'Vehicle_Size', 'Vehicle_Type'],
      dtype='object')
   Customer_Lifetime_Value  Income  Monthly_Premium_Auto  \
0               4809.21696   48029                    61

   Months_Since_Last_Claim  Months_Since_Policy_Inception  \
0                      7.0                             52

   Number_of_Open_Complaints  Number_of_Policies  Total_Claim_Amount
0                        0.0                   9               292.8
  Customer    State Response Coverage Education Effective_To_Date  \
0  DK49336  Arizona       No    Basic   College           2/18/11

  EmploymentStatus Gender Location_Code Marital_Status     Policy_Type  \
0         Employed      M      Suburban        Married  Corporate Auto

         Policy Renew_Offer_Type Sales_Channel  Vehicle_Class Vehicle_Size  \
0  Corporate L3           Offer3         Agent  Four-Door Car      Medsize

  Vehicle_Type
0          NaN
Customer                            0
State                             631
Customer_Lifetime_Value             0
Response                          631
Coverage                            0
Education                           0
Effective_To_Date                   0
EmploymentStatus                    0
Gender                              0
Income                              0
Location_Code                       0
Marital_Status                      0
Monthly_Premium_Auto                0
Months_Since_Last_Claim           633
Months_Since_Policy_Inception       0
Number_of_Open_Complaints         633
Number_of_Policies                  0
Policy_Type                         0
Policy                              0
Renew_Offer_Type                    0
Sales_Channel                       0
Total_Claim_Amount                  0
Vehicle_Class                     622
Vehicle_Size                      622
Vehicle_Type                     5482
dtype: int64
Customer                         0
State                            0
Customer_Lifetime_Value          0
Response                         0
Coverage                         0
Education                        0
Effective_To_Date                0
EmploymentStatus                 0
Gender                           0
Income                           0
Location_Code                    0
Marital_Status                   0
Monthly_Premium_Auto             0
Months_Since_Last_Claim          0
Months_Since_Policy_Inception    0
Number_of_Open_Complaints        0
Number_of_Policies               0
Policy_Type                      0
Policy                           0
Renew_Offer_Type                 0
Sales_Channel                    0
Total_Claim_Amount               0
Vehicle_Class                    0
Vehicle_Size                     0
Vehicle_Type                     0
dtype: int64
      Customer       State  Customer_Lifetime_Value Response  Coverage  \
0      DK49336     Arizona              4809.216960       No     Basic
1      KX64629  California              2228.525238       No     Basic
2      LZ68649  Washington             14947.917300       No     Basic
3      XL78013      Oregon             22332.439460      Yes  Extended
4      QA50777      Oregon              9025.067525       No   Premium
...        ...         ...                      ...      ...       ...
10905  FE99816      Nevada             15563.369440       No   Premium
10906  KX53892      Oregon              5259.444853       No     Basic
10907  TL39050     Arizona             23893.304100       No  Extended
10908  WA60547  California             11971.977650       No   Premium
10909  IV32877       Other              6857.519928    Other     Basic

      Education Effective_To_Date EmploymentStatus Gender  Income  ...  \
0       College        2011-02-18         Employed      M   48029  ...
1       College        2011-01-18       Unemployed      F       0  ...
2      Bachelor        2011-02-10         Employed      M   22139  ...
3       College        2011-01-11         Employed      M   49078  ...
4      Bachelor        2011-01-17    Medical Leave      F   23675  ...
...         ...               ...              ...    ...     ...  ...
10905  Bachelor        2011-01-19       Unemployed      F       0  ...
10906   College        2011-01-06         Employed      F   61146  ...
10907  Bachelor        2011-02-06         Employed      F   39837  ...
10908   College        2011-02-13         Employed      F   64195  ...
10909  Bachelor        2011-01-08       Unemployed      M       0  ...

      Number_of_Policies     Policy_Type        Policy  Renew_Offer_Type  \
0                      9  Corporate Auto  Corporate L3            Offer3
1                      1   Personal Auto   Personal L3            Offer4
2                      2   Personal Auto   Personal L3            Offer3
3                      2  Corporate Auto  Corporate L3            Offer2
4                      7   Personal Auto   Personal L2            Offer1
...                  ...             ...           ...               ...
10905                  7   Personal Auto   Personal L1            Offer3
10906                  6   Personal Auto   Personal L3            Offer2
10907                  2  Corporate Auto  Corporate L3            Offer1
10908                  6   Personal Auto   Personal L1            Offer1
10909                  3   Personal Auto   Personal L1            Offer4

       Sales_Channel  Total_Claim_Amount  Vehicle_Class Vehicle_Size  \
0              Agent          292.800000  Four-Door Car      Medsize
1        Call Center          744.924331  Four-Door Car      Medsize
2        Call Center          480.000000            SUV      Medsize
3             Branch          484.013411  Four-Door Car      Medsize
4             Branch          707.925645  Four-Door Car      Medsize
...              ...                 ...            ...          ...
10905            Web         1214.400000     Luxury Car      Medsize
10906         Branch          273.018929  Four-Door Car      Medsize
10907            Web          381.306996     Luxury SUV      Medsize
10908         Branch          618.288849            SUV      Medsize
10909            Web         1021.719397            SUV      Medsize

      Vehicle_Type     Month
0            Other  February
1            Other   January
2                A  February
3                A   January
4            Other   January
...            ...       ...
10905            A   January
10906            A   January
10907        Other  February
10908            A  February
10909        Other   January

[10910 rows x 26 columns]

In [49]:
sample_df.head(3)

,Customer,State,Customer_Lifetime_Value,Response,Coverage,Education,Effective_To_Date,EmploymentStatus,Gender,Income,...,Number_of_Policies,Policy_Type,Policy,Renew_Offer_Type,Sales_Channel,Total_Claim_Amount,Vehicle_Class,Vehicle_Size,Vehicle_Type,Month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,Other,February
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Other,January
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,February